/* Vars */
:root{
  --color-primary: #1601c3;
  --color-secondary: #54595F;
  --color-text: #7A7A7A;
  --color-light: #FFF;
  --color-dark: #000;
}

/* Global */

.bg--primary{
  background-color: var(--color-primary);
}
.bg--secondary{
  background-color: var(--color-secondary);
}

.text--light{
  color: var(--color-light);
}
.text--dark{
  color: var(--color-dark);
}

/* Header */

/* Filter */

/* Search Form */

/* List */

/* Footer */
footer{
  
}